<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886978813872-ocggp84gde0bslknma13t427trijspfk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886978813872-ocggp84gde0bslknma13t427trijspfk</string>
	<key>API_KEY</key>
	<string>AIzaSyA5VdxsRRjBhWeqCYMKYr12PPMBT4m7o98</string>
	<key>GCM_SENDER_ID</key>
	<string>886978813872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SwiftUIShoppingApp.SwiftUIThreadsClone</string>
	<key>PROJECT_ID</key>
	<string>swiftuithreadsclone</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuithreadsclone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886978813872:ios:08853b3f043bde109a0075</string>
</dict>
</plist>